/build/
*.suo
*.user
*.sdf
bin/
obj/
Debug/
.vs/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
Results/Result-10-9-2018-20-27(1).dat
Tests/Test8e7080ce-ee1d-4475-a862-05f0c826e04b.dat
